    <td></td>
    {% for field in form %}
        <td>{{ field }}</td>
    {% endfor %}
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
        <button class="btn btn-outline-success btn-sm" name="save" value="{{ item.id }}" title="Сохранить текущую строку"><i class='fa fa-save'></i></button>
        <button class="btn btn-outline-success btn-sm" name="cancel" value="{{ item.id }}" formnovalidate title="Отмена"><i class='fa fa-remove'></i></button>
    </td>