{% extends "home/layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
    <h1>Категории участников</h1>

    <table class = "table table-bordered table-light">
        <form method="POST" action="{% url 'home:categories' %}">
            {% csrf_token %} 
               
            <tr>
                <th>№</th>
                <th>
                    Наименование
                    <button class="btn btn-secondary"" name="sort" formnovalidate value="title"><i class='fa fa-long-arrow-up'></i></button>
                    <button class="btn btn-secondary"" name="sort" formnovalidate value="-title"><i class='fa fa-long-arrow-down'></i></button>
                </th>
                <th>Наименование для печати</th>
                <th>
                    Дата создания
                    <button class="btn btn-light" name="sort" formnovalidate value="created_date"><i class='fa fa-long-arrow-up'></i></button>
                    <button class="btn btn-light" name="sort" formnovalidate value="-created_date"><i class='fa fa-long-arrow-down'></i></button>
                </th>
                <th>
                    Дата изменения
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="updated_date"><i class='fa fa-long-arrow-up'></i></button>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="-updated_date"><i class='fa fa-long-arrow-down'></i></button>
                </th>
                <th>Примечания</th>
            </tr>

            {% if not form.instance.id %}
                <tr>
                    {% include 'home/category.html' %}
                </tr>
            {% endif %}   

          
            {% for category in categories %}
                
                <tr>
                    {% if form.instance.id == category.id %}
                        {% include 'home/category.html' %}
                    {% else %}
                        <td>{{forloop.counter}}</td>
                        <td>{{category.title}}</td>
                        <td>{{category.print_title}}</td>
                        <td>{{category.created_date}}</td>
                        <td>{{category.updated_date}}</td>
                        <td> 
                            <button class="btn btn-success" name="edit" value="{{ category.id }}" formnovalidate title="Редактировать текущую строку"><i class='fa fa-pencil'></i></button>
                            <button class="btn btn-danger" name="delete" value="{{ category.id }}" formnovalidate title="Удалить текущую строку. Внимание! Удаляется сразу, без запроса подтверждения!">Del</button>
                        </td> 
                    {% endif %}
                </tr>
            
                {% empty %}    
                    Нет категорий
            {% endfor %}
        </form>
    </table>
{% endblock %}