{% extends "home/layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
    <h4>Категории участников мероприятия: {{ current_event}}</h4>

    <table class = "table table-bordered table-light">
        <form method="POST" action="{% url 'home:categories' %}">
            {% csrf_token %} 
               
            <tr>
                <th>№</th>
                <th>
                    Наименование
                    <button class="btn btn-outline-success btn-sm" name="sort" formnovalidate value="title"><i class='{{ sort_button }}'></i></button>
                </th>
                <th>
                    Наименование для печати
                </th>
                <th>
                    Бэдж
                    <button class="btn btn-outline-success btn-sm" name="sort" formnovalidate value="badge"><i class='{{ sort_button }}'></i></button>
                </th>
                <th>
                    Сертификат
                    <button class="btn btn-outline-success btn-sm" name="sort" formnovalidate value="certificate"><i class='{{ sort_button }}'></i></button>
                </th>
                <th>
                    Дата создания
                    <button class="btn btn-outline-success btn-sm" name="sort" formnovalidate value="created_date"><i class='{{ sort_button }}'></i></button>
                </th>
                <th>
                    Дата изменения
                    <button class="btn btn-outline-success btn-sm" name="sort" formnovalidate value="updated_date"><i class='{{ sort_button }}'></i></button>
                </th>
                <th>
                    Создатель
                    <button class="btn btn-outline-success btn-sm" name="sort" formnovalidate value="created_by"><i class='{{ sort_button }}'></i></button>
                </th>
                <th>
                    Изменил
                    <button class="btn btn-outline-success btn-sm" name="sort" formnovalidate value="updated_by"><i class='{{ sort_button }}'></i></button>
                </th>
                <th>
                    Мероприятие
                    <button class="btn btn-outline-success btn-sm" name="sort" formnovalidate value="event_related"><i class='{{ sort_button }}'></i></button>
                </th>
                <th>Примечания</th>
            </tr>

            {% if not form.instance.id %}
                <tr>
                    {% include 'home/category.html' %}
                </tr>
            {% endif %}   

            <tbody class="table-group-divider">
            {% for category in categories %}
                 <tr>
                    {% if form.instance.id == category.id %}
                        {% include 'home/category.html' %}
                    {% else %}
                        <td>{{forloop.counter}}</td>
                        <td>{{category.title}}</td>
                        <td>{{category.print_title|linebreaks}}</td>
                        <td>{{category.badge}}</td>
                        <td>{{category.certificate}}</td>
                        <td>{{category.created_date|date:'d.m.Y H:i'}}</td>
                        <td>{{category.updated_date|date:'d.m.Y H:i'}}</td>
                        <td>{{category.created_by}}</td>
                        <td>{{category.updated_by}}</td>
                        <td>{{category.event_related}}</td>
                        <td> 
                            <button class="btn btn-outline-success" name="edit" value="{{ category.id }}" formnovalidate title="Редактировать текущую строку"><i class='fa fa-pencil'></i></button>
                            <button class="btn btn-outline-danger" name="delete" value="{{ category.id }}" formnovalidate title="Удалить текущую строку. Внимание! Удаляется сразу, без запроса подтверждения!">Del</button>
                        </td> 
                    {% endif %}
                </tr>
            
                {% empty %}    
                    Нет категорий
            {% endfor %}
        </form>
        <tbody> 
    </table>
{% endblock %}