{% extends "home/layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
    <h4>Компетенции (номинации) мероприятия: {{ current_event}}</h4>

    <table class = "table table-bordered table-light">
        <form method="POST" action="{% url 'home:competencies' %}">
            {% csrf_token %} 
               
            <tr>
                <th>№</th>
                <th>
                    Наименование
                    <button class="btn btn-outline-success btn-sm" name="sort" formnovalidate value="title"><i class='{{ sort_button }}'></i></button>
                </th>
                <th>Наименование для печати</th>
                <th>
                    Дата создания
                    <button class="btn btn-outline-success btn-sm" name="sort" formnovalidate value="created_date"><i class='{{ sort_button }}'></i></button>
                </th>
                <th>
                    Дата изменения
                    <button class="btn btn-outline-success btn-sm" name="sort" formnovalidate value="updated_date"><i class='{{ sort_button }}'></i></button>
                </th>
                <th>
                    Создатель
                    <button class="btn btn-outline-success btn-sm" name="sort" formnovalidate value="created_by"><i class='{{ sort_button }}'></i></button>
                </th>
                <th>
                    Изменил
                    <button class="btn btn-outline-success btn-sm" name="sort" formnovalidate value="updated_by"><i class='{{ sort_button }}'></i></button>
                </th>
                <th>Примечания</th>
            </tr>

            {% if not form.instance.id %}
                <tr>
                    {% include 'home/competency.html' %}
                </tr>
            {% endif %}   

          
            {% for competency in competencies %}
                
                <tr>
                    {% if form.instance.id == competency.id %}
                        {% include 'home/competency.html' %}
                    {% elif competency.event_related == current_event %}
                        <td>{{forloop.counter}}</td>
                        <td>{{competency.title}}</td>
                        <td>{{competency.print_title|linebreaks}}</td>
                        <td>{{competency.created_date|date:'d.m.Y H:i'}}</td>
                        <td>{{competency.updated_date|date:'d.m.Y H:i'}}</td>
                        <td>{{competency.created_by}}</td>
                        <td>{{competency.updated_by}}</td>
                        <td> 
                            <button class="btn btn-outline-success" name="edit" value="{{ competency.id }}" formnovalidate title="Редактировать текущую строку"><i class='fa fa-pencil'></i></button>
                            <button class="btn btn-outline-danger" name="delete" value="{{ competency.id }}" formnovalidate title="Удалить текущую строку. Внимание! Удаляется сразу, без запроса подтверждения!">Del</button>
                        </td> 
                    {% endif %}
                </tr>
            
                {% empty %}    
                    Нет компетенций (номинаций)
            {% endfor %}
        </form>
    </table>
{% endblock %}