{% extends "home/layout.html" %}
{% block title %}Компетенции{% endblock %}
{% block body %}
    <h1>Компетенции (номинации)</h1>

    <table class = "table table-bordered table-light">
        <tr>
            <th>Наименование</th>
            <th>Наименование для печати</th>
            <th>Дата создания</th>
            <th>Дата изменения</th>
            <th>Автор</th>
            <th>Примечания</th>
        </tr>
    
        {% for competency in competencies %}

            <tr>
                <td>{{competency.title}}</td>
                <td>{{competency.print_title}}</td>
                <td>{{competency.created_date}}</td>
                <td>{{competency.updated_date}}</td>
                <td>{{competency.author}}</td>
                <td> <a href="{% url 'home:competency' competency.id %}">Подробнее</a></td>
            </tr>
          
        {% empty %}    
            Нет компетенций
        {% endfor %}
   

    </table>
{% endblock %}