<h4>
   {% if not form.instance.id %}
      Создать мероприятие
   {% else %}
      Редактировать мероприятие
   {% endif %}
   </h4>
      {{ form }}
   <br>
   {% if not form.instance.id %}
      <button class="btn btn-outline-success" name="save" value="{{ id }}" title="Сохранить"><i class='fa fa-save'></i>  Сохранить</button>
      <button class="btn btn-outline-success" name="cancel" value="{{ id }}" formnovalidate title="Отмена"><i class='fa fa-remove'></i>  Отмена</button>
   {% else %}
      <button class="btn btn-outline-success" name="save" value="{{ id }}" title="Сохранить"><i class='fa fa-save'></i>  Сохранить</button>
      <button class="btn btn-outline-success" name="cancel" value="{{ id }}" formnovalidate title="Отмена"><i class='fa fa-remove'></i>  Отмена</button>
   {% endif %}
    

    
       
    