{% extends "home/layout.html" %}
{% block title %}Мероприятия{% endblock %}
{% block body %}
    {% if current_event is NONE%}
        <h4>Выберите мероприятие,
            для этого нажмите на кнопку 
            <button class="btn btn-outline-success btn-sm"><i class='fa fa-check'></i></button>
            у нужного мероприятия
        </h4>
    {% else %}
        <h4>Мероприятия. Выбрано: {{ current_event }}</h4>
    {% endif %}
    
    <!-- Кнопка добавления нового мероприятия -->
    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addModal">
        <i class="fa fa-plus"></i> Добавить
    </button>

    <form method="POST" action="{% url 'home:events' %}">
        {% csrf_token %} 
                <table class = "table table-hover table-bordered table-light">
                    <thead>    
                        <tr>
                        <th>Наименование
                        <button 
                            class="btn btn-outline-success btn-sm" 
                            name="sort" 
                            formnovalidate
                            value="title">
                            {% if sort_text == 'title' %}
                                <i class='{{ sort_button_pressed }}'></i>
                            {% else %}
                                <i class='{{ sort_button }}'></i>
                            {% endif %}
                        </button>
                        </th>    
                        <th>Наименование </br> для печати
                        <button 
                            class="btn btn-outline-success btn-sm" 
                            name="sort" 
                            formnovalidate
                            value="print_title">
                            {% if sort_text == 'print_title' %}
                                <i class='{{ sort_button_pressed }}'></i>
                            {% else %}
                                <i class='{{ sort_button }}'></i>
                            {% endif %}
                        </button>
                        </th>
                        <th>Дата </br> начала
                        <button 
                            class="btn btn-outline-success btn-sm" 
                            name="sort" 
                            formnovalidate
                            value="from_date">
                            {% if sort_text == 'from_date' %}
                                <i class='{{ sort_button_pressed }}'></i>
                            {% else %}
                                <i class='{{ sort_button }}'></i>
                            {% endif %}
                        </button>
                        </th>
                        <th>Дата </br> окончания
                        <button 
                            class="btn btn-outline-success btn-sm" 
                            name="sort" 
                            formnovalidate
                            value="to_date">
                            {% if sort_text == 'to_date' %}
                                <i class='{{ sort_button_pressed }}'></i>
                            {% else %}
                                <i class='{{ sort_button }}'></i>
                            {% endif %}
                        </button>
                        </th>
                        <th>Дата созд.
                        <button 
                            class="btn btn-outline-success btn-sm" 
                            name="sort" 
                            formnovalidate
                            value="created_date">
                            {% if sort_text == 'created_date' %}
                                <i class='{{ sort_button_pressed }}'></i>
                            {% else %}
                                <i class='{{ sort_button }}'></i>
                            {% endif %}
                        </button>
                        </th>
                        <th>Дата </br> изм.
                        <button 
                            class="btn btn-outline-success btn-sm" 
                            name="sort" 
                            formnovalidate
                            value="updated_date">
                            {% if sort_text == 'updated_date' %}
                                <i class='{{ sort_button_pressed }}'></i>
                            {% else %}
                                <i class='{{ sort_button }}'></i>
                            {% endif %}
                        </button>
                        </th>
                        <th>Создал
                        <button 
                            class="btn btn-outline-success btn-sm" 
                            name="sort" 
                            formnovalidate
                            value="created_by">
                            {% if sort_text == 'created_by' %}
                                <i class='{{ sort_button_pressed }}'></i>
                            {% else %}
                                <i class='{{ sort_button }}'></i>
                            {% endif %}
                        </button>
                        </th>
                        <th>Изменил
                        <button 
                            class="btn btn-outline-success btn-sm" 
                            name="sort" 
                            formnovalidate
                            value="updated_by">
                            {% if sort_text == 'updated_by' %}
                                <i class='{{ sort_button_pressed }}'></i>
                            {% else %}
                                <i class='{{ sort_button }}'></i>
                            {% endif %}
                        </button>
                        </th>
                        <th>Уч
                            <i class="fa fa-info-circle"  
                            aria-hidden="false" 
                            title="Количество участников по каждому мероприятию" 
                            style="color: blue"></i>
                        <th>Примечания</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider"> 
                        {% for item in model %}
                            <!-- Modal  delete event -->
                            <div class="modal fade" id="deleteModal{{ item.id }}" 
                                tabindex="-1" aria-labelledby="deleteModalLabel{{ item.id }}" 
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-center" 
                                            id="deleteModalLabel{{ item.id }}">
                                            Удалить: "{{ item.title }}"
                                            </h5>
                                            <button 
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal" 
                                                aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Внимание! Будут удалены связанные записи из таблицы "Участники" 
                                            в количестве {{ item.count }} и все данные из таблиц "Категории",
                                            "Компетенции", "Награды".</br>
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                type="submit"
                                                class="btn btn-danger"
                                                formnovalidate
                                                name="delete"
                                                value="{{ item.id }}">
                                                Удалить
                                            </button>
                                            <button 
                                                type="button"
                                                class="btn btn-secondary"
                                                data-bs-dismiss="modal">
                                                Отмена
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <!-- Модальное окно редактирования -->
                            <div class="modal fade" id="editModal{{ item.id }}" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Редактировать: {{ item.title }}</h5>
                                            <button 
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close">
                                            </button>
                                        </div>
                                        <form method="POST" action="{% url 'home:events' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="item_id" value="{{ item.id }}">
                                            <div class="modal-body">
                                                {{ edit_forms|get_item:item.id }}
                                            </div>
                                            <div class="modal-footer">
                                                <button
                                                    type="submit"
                                                    class="btn btn-primary"
                                                    name="save"  
                                                    value="{{ item.id }}">
                                                    Сохранить
                                                </button>
                                                <button type="button"
                                                    class="btn btn-secondary"
                                                    data-bs-dismiss="modal">
                                                    Отмена
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% if item.id == current_event.id %}
                            <tr class="table-success">
                            {% else %}
                            <tr>
                            {% endif %}
                                <td>{{item.title}}</td>
                                <td>{{item.print_title|linebreaks}}</td>
                                <td>{{item.from_date}}</td>
                                <td>{{item.to_date}}</td>
                                <td>{{item.created_date|date:'d.m.Y H:i'}}</td>
                                <td>{{item.updated_date|date:'d.m.Y H:i'}}</td>
                                <td>{{item.created_by}}</td>
                                <td>{{item.updated_by}}</td>
                                <td>{{item.count}}</td>
                                <td> 
                                    <p>
                                        <button 
                                            type="button" 
                                            class="btn btn-outline-success btn-sm" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#editModal{{ item.id }}"
                                            formnovalidate
                                            title="Редактировать">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button
                                            class="btn btn-outline-success btn-sm"
                                            name="info"
                                            value="{{ item.id }}"
                                            formnovalidate
                                            title="Подробнее">
                                            <i class='fa fa-info'></i>
                                        </button>
                                        <button 
                                            class="btn btn-outline-success btn-sm"
                                            name="select" value="{{ item.id }}"
                                            formnovalidate
                                            title="Выбрать это мероприятие">
                                            <i class='fa fa-check'></i>
                                        </button>
                                        <button 
                                            type="button"
                                            class="btn btn-outline-danger btn-sm"
                                            name="del"
                                            value="{{ item.id }}"
                                            formnovalidate
                                            title="Удалить текущую строку"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal{{ item.id }}">
                                            Del
                                        </button>
                                    </p>    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
    </form> 

    <!-- Модальное окно добавления -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить мероприятие</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    </button>
                </div>
                <form method="POST" action="{% url 'home:events' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button 
                            type="submit"
                            class="btn btn-primary"
                            name="save">
                            Создать
                        </button>
                        <button 
                            type="button" 
                            class="btn btn-secondary" 
                            data-bs-dismiss="modal">
                            Отмена
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
{% endblock %}