{% extends "home/layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Главная страница</h1>
    {{ current_event }} c {{ current_event.from_date }} по  {{ current_event.to_date }} </br>
    <div style="display: flex;">
        <div class="col-md-3 ml-auto" style="border:1px solid #a5a5a5; padding:5px; margin-left:5px;">
            <h4> Сводная информация</h4>
            Категорий {{ categories_count }}</br>
            Компетенций {{ competencies_count }}</br>
            Участников {{ participants_count }}</br>
        </div>

        <div class="col-md-3 ml-auto" style="border:1px solid #a5a5a5; padding:5px; margin-left:5px;">
            <h4>Категории по количеству участников</h4>
            <table class = "table table-striped table-bordered table-light">
                <thead>
                    <tr>
                        <th>№</th>
                        <th> Наименование</th>
                        <th> Кол-во</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">  
                    {% for catbp in categories_by_participants %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{ catbp }} </td>
                        <td>{{ catbp.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-3 ml-auto" style="border:1px solid #a5a5a5; padding:5px; margin-left:5px;">
            <h4>Компетенции по количеству участников</h4>
            <table class = "table table-striped table-bordered table-light">
                <thead>
                    <tr>
                        <th>№</th>
                        <th> Наименование</th>
                        <th> Кол-во</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">  
                    {% for cbp in competencies_by_participants %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{ cbp }} </td>
                        <td>{{ cbp.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}