{% extends "home/layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
    <h1>Участники</h1>

    <table class = "table table-bordered table-light">
        <form method="POST" action="{% url 'home:participants' %}">
            {% csrf_token %} 
               
            <tr>
                <th>№</th>
                <th>
                    Фамилия </br>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="title"><i class='fa fa-long-arrow-up'></i></button>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="-title"><i class='fa fa-long-arrow-down'></i></button>
                </th>
                <th>
                    Имя</br>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="title"><i class='fa fa-long-arrow-up'></i></button>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="-title"><i class='fa fa-long-arrow-down'></i></button>
                </th>
                <th>
                    Отчество</br>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="title"><i class='fa fa-long-arrow-up'></i></button>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="-title"><i class='fa fa-long-arrow-down'></i></button>
                </th>
                <th>
                    Организация</br>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="title"><i class='fa fa-long-arrow-up'></i></button>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="-title"><i class='fa fa-long-arrow-down'></i></button>
                </th>
                <th>
                    Мероприятие</br>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="title"><i class='fa fa-long-arrow-up'></i></button>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="-title"><i class='fa fa-long-arrow-down'></i></button>
                </th>
                <th>
                    Категория</br>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="title"><i class='fa fa-long-arrow-up'></i></button>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="-title"><i class='fa fa-long-arrow-down'></i></button>
                </th>
                <th>
                    Компетенция</br>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="title"><i class='fa fa-long-arrow-up'></i></button>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="-title"><i class='fa fa-long-arrow-down'></i></button>
                </th>
                <th>
                    Награда</br>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="title"><i class='fa fa-long-arrow-up'></i></button>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="-title"><i class='fa fa-long-arrow-down'></i></button>
                </th>
                <th>
                    Дата создания </br>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="created_date"><i class='fa fa-long-arrow-up'></i></button>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="-created_date"><i class='fa fa-long-arrow-down'></i></button>
                </th>
                <th>
                    Дата изменения </br>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="updated_date"><i class='fa fa-long-arrow-up'></i></button>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="-updated_date"><i class='fa fa-long-arrow-down'></i></button>
                </th>
                <th>
                    Создатель </br>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="created_by"><i class='fa fa-long-arrow-up'></i></button>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="-created_by"><i class='fa fa-long-arrow-down'></i></button>
                </th>
                <th>
                    Изменил </br>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="updated_by"><i class='fa fa-long-arrow-up'></i></button>
                    <button class="btn btn-outline-info" name="sort" formnovalidate value="-updated_by"><i class='fa fa-long-arrow-down'></i></button>
                </th>
                <th>Примечания</th>
            </tr>

            {% if not form.instance.id %}
                <tr>
                    {% include 'home/participant.html' %}
                </tr>
            {% endif %}   

          
            {% for participant in participants %}
                <tr>
                    {% if form.instance.id == participant.id %}
                        {% include 'home/participant.html' %}
                    {% else %}
                        <td>{{forloop.counter}}</td>
                        <td>{{participant.first_name}}</td>
                        <td>{{participant.middle_name}}</td>
                        <td>{{participant.last_name}}</td>
                        <td>{{participant.organisation}}</td>
                        <td>{{participant.event}}</td>
                        <td>{{participant.category}}</td>
                        <td>{{participant.competency}}</td>
                        <td>пока пусто</td>
                        <td>{{participant.created_date|date:'d.m.Y H:i'}}</td>
                        <td>{{participant.updated_date|date:'d.m.Y H:i'}}</td>
                        <td>{{participant.created_by}}</td>
                        <td>{{participant.updated_by}}</td>
                        <td> 
                            <button class="btn btn-outline-success" name="edit" value="{{ participant.id }}" formnovalidate title="Редактировать текущую строку"><i class='fa fa-pencil'></i></button>
                            <button class="btn btn-outline-danger" name="delete" value="{{ participant.id }}" formnovalidate title="Удалить текущую строку. Внимание! Удаляется сразу, без запроса подтверждения!">Del</button>
                        </td> 
                    {% endif %}
                </tr>
            
                {% empty %}    
                    Нет участников
            {% endfor %}
        </form>
    </table>
{% endblock %}