{% extends "home/layout.html" %}
{% block body %}
    <h1>Редактировать печатную форму {{user_image.id}}</h1>
   
    <div style="display: flex;">
        <div>
            <img src="{{user_image.image.url}}" width="320pt"  alt="Cover"> <br>
        </div>   

                   
            <table class = "table table-bordered table-light">
                <form method="post" enctype="multipart/form-data" action="{% url 'home:print_templates' %}">
                    {% csrf_token %} 
                       
                    <tr>
                        <th>№</th>
                        <th>
                            Поле для печати </br>
                            <button class="btn btn-outline-info btn-sm" name="sort" formnovalidate value="title"><i class='fa fa-long-arrow-up'></i></button>
                            <button class="btn btn-outline-info btn-sm" name="sort" formnovalidate value="-title"><i class='fa fa-long-arrow-down'></i></button>
                        </th>
                        <th>
                            Начальная Х </br>
                            <button class="btn btn-outline-info btn-sm" name="sort" formnovalidate value="image"><i class='fa fa-long-arrow-up'></i></button>
                            <button class="btn btn-outline-info btn-sm" name="sort" formnovalidate value="-image"><i class='fa fa-long-arrow-down'></i></button>
                        </th>
                        <th>
                            Начальная Y </br>
                            <button class="btn btn-outline-info btn-sm" name="sort" formnovalidate value="created_date"><i class='fa fa-long-arrow-up'></i></button>
                            <button class="btn btn-outline-info btn-sm" name="sort" formnovalidate value="-created_date"><i class='fa fa-long-arrow-down'></i></button>
                        </th>
                        <th>
                            Дельта Х </br>
                            <button class="btn btn-outline-info btn-sm" name="sort" formnovalidate value="updated_date"><i class='fa fa-long-arrow-up'></i></button>
                            <button class="btn btn-outline-info btn-sm" name="sort" formnovalidate value="-updated_date"><i class='fa fa-long-arrow-down'></i></button>
                        </th>
                        <th>
                            Дельта Y </br>
                            <button class="btn btn-outline-info btn-sm" name="sort" formnovalidate value="created_by"><i class='fa fa-long-arrow-up'></i></button>
                            <button class="btn btn-outline-info btn-sm" name="sort" formnovalidate value="-created_by"><i class='fa fa-long-arrow-down'></i></button>
                        </th>
                        <th>
                            Размер шрифта </br>
                            <button class="btn btn-outline-info btn-sm" name="sort" formnovalidate value="updated_by"><i class='fa fa-long-arrow-up'></i></button>
                            <button class="btn btn-outline-info btn-sm" name="sort" formnovalidate value="-updated_by"><i class='fa fa-long-arrow-down'></i></button>
                        </th>
                        <th>Примечания</th>
                    </tr>
        
                    {% if not form.instance.id %}
                        <tr>
                            {% include 'home/print_template.html' %}
                        </tr>
                    {% endif %}   
        
                  
                    {% for pt in print_templates %}
                        
                        <tr>
                            {% if form.instance.id == pt.id %}
                                {% include 'home/print_template.html' %}
                            {% else %}    
                                <td>{{forloop.counter}}</td>
                                <td>{{pt.print_item}}</td>
                                <td>{{pt.start_x}}</td>
                                <td>{{pt.start_y}}</td>
                                <td>{{pt.delta_x}}</td>
                                <td>{{pt.delta_y}}</td>
                                <td>{{pt.font_size}}</td>
                                <td> 
                                    <button class="btn btn-outline-success" name="edit" value="{{ pt.id }}" formnovalidate title="Редактировать текущую строку"><i class='fa fa-pencil'></i></button>
                                    <button class="btn btn-outline-danger" name="delete" value="{{ pt.id }}" formnovalidate title="Удалить текущую строку. Внимание! Удаляется сразу, без запроса подтверждения!">Del</button>
                                </td> 
                            {% endif %}
                        </tr>
                    
                        {% empty %}    
                            Нет настроек
                    {% endfor %}
                </form>
            </table>
           
    </div>

{% endblock %}