<h4>
{% if not form.instance.id %}
   Создать блок
{% else %}
   Редактировать блок
{% endif %}
</h4>
<table class = "table table-bordered table-light">
   <tr>
      <td>Текст до</td><td>{{ form.before_print_text }}</td>
   </tr>
   <tr>
      <td>Поле печати</td><td>{{ form.print_item }}</td>
   </tr>
   <tr>
      <td>Текст после</td><td>{{ form.after_print_text }}</td>
   </tr>
   <tr>
      <td>Х, мм </td><td>{{ form.start_x }}</td>
   </tr>
   <tr>
      <td>Y, мм </td><td>{{ form.start_y }}</td>
   </tr>
   <tr>
      <td>Ширина текстового блока, мм </td><td>{{ form.delta_x }}</td>
   </tr>
   <tr>
      <td>Высота текстового блока, мм </td><td>{{ form.delta_y }}</td>
   </tr>
   <tr>
      <td>Шрифт</td><td>{{ form.user_font }}</td>
   </tr>
   <tr>
      <td>Цвет шрифта </td><td>{{ form.font_color }}</td>
   </tr>
   <tr>
      <td>Размер шрифта </td><td>{{ form.font_size }}</td>
   </tr>
   <tr>
      <td>Межстрочный интервал </td><td>{{ form.font_leading }}</td>
   </tr>
   <tr>
      <td>Выравнивание текстового блока </td><td>{{ form.font_alignment }}</td>
   </tr>
</table>
<br>
{% if not form.instance.id %}
   <button class="btn btn-outline-success" name="save" value="{{ id }}" title="Сохранить"><i class='fa fa-save'></i>  Сохранить</button>
   <button class="btn btn-outline-success" name="cancel" value="{{ id }}" formnovalidate title="Отмена"><i class='fa fa-remove'></i>  Отмена</button>
{% else %}
   <button class="btn btn-outline-success" name="save" value="{{ id }}" title="Сохранить"><i class='fa fa-save'></i>  Сохранить</button>
   <button class="btn btn-outline-success" name="cancel" value="{{ id }}" formnovalidate title="Отмена"><i class='fa fa-remove'></i>  Отмена</button>
{% endif %}

{% if errors is not NULL %}
    <div class="alert alert-danger">{{ errors }}</div>
{% endif %}

   
