{% extends "home/layout.html" %}

{% block body %}
    <h1>Мероприятие {{even.id}}</h1>
 
    <div class = "mb-2">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.title}}<br>
            {{form.print_title}}<br>
            {{form.description}}<br>
            Дата начала: {{form.from_date}}<br>
            Дата окончания: {{form.to_date}}<br>
            Изображение обложки: {{form.cover}}<br>
            <span>{{ error }}</span><br>
            <button class="btn btn-success" type="submit">Добавить</button>
        </form>
    </div>
    <a href="{% url 'home:events' %}">Назад</a>
{% endblock %}