{% extends "home/layout.html" %}


{% block body %}
    <h1>Добавить мероприятие {{even.id}}</h1>
    <div class="container-fluid" style="max-width: 800px; margin: auto;">
        <form class ="mb-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
                {{ form }}
                <span>{{ error }}</span><br>
                <button class="btn btn-outline-success btn-lg" name="save" type="submit">Добавить</button>
        </form>
        <form action="{% url 'home:events' %}">
            <button class="btn btn-outline-success btn-lg">Отмена</button>
        </form>
   </div>
{% endblock %}