{% extends "users/layout.html" %}

{% block body %}

    {% if message %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <div class="container-fluid col-sm-2 border border-3, position-absolute top-50 start-50 translate-middle">
        <form action="{% url 'login' %}" method="post" class="text-center">
            {% csrf_token %}
            Имя пользователя: </br>
            <input type="text" name="username" placeholder="Username"></br>
            Пароль: </br>
            <input type="password" name="password" placeholder="Password"></br></br>
            <input type="submit" value="Войти" class="col-sm-6">
        </form>
    </div>
  </main>

{% endblock %}