{% extends "home/layout.html" %}
{% block body %}
    <h1>Редактировать печатную форму {{user_image.id}}</h1>
   
    <div style="display: flex;">
        <div>
            <img src="{{user_image.image.url}}" width="320pt"  alt="Cover"> <br>
        </div>   

        <div class="container-fluid" style="max-width: 800px; margin: auto;">
            <form class="mb-2" method="post" enctype="multipart/form-data">
                {% csrf_token %}
        
                {{form.as_table}} </br>
            
                <span>{{ errors }}</span><br>

                <button class="btn btn-outline-success btn-lg" name="save" type="submit">Сохранить</button>
                <button class="btn btn-outline-success btn-lg" name="cancel" type="submit" href="{% url 'home:user_images' %}">Отмена</button>
            </div>

      
            </form>
    </div>

{% endblock %}